.header {
  // display: inline-block;
  display: flex;
  height: 50px;
  width: 67%;
  margin: auto;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 2px solid white;
}